@qimaone:registry=https://europe-npm.pkg.dev/one-dev-4535/qimaone-npm/
@qima:registry=https://europe-npm.pkg.dev/one-dev-4535/qimaone-npm/
//europe-npm.pkg.dev/one-dev-4535/qimaone-npm/:_authToken="ya29.A0ARrdaM-dTXnFXa4tGp4_qSNJHmVJZaLeeSK38nCcrj1wSHvZPYh-TEjHroakngrhbARw1gxPOLa7ybBTt4pQv_wsIvzy6qlhcq0yiYnICyauhLX6cZ5M_v6qmbx8C-qtSkZZIgFLBHq67XPHkOjNH7DN0wkb"
//europe-npm.pkg.dev/one-dev-4535/qimaone-npm/:always-auth=true
